@model Zpi2WebApiWithLib.Models.ResponseModel
@{
    ViewBag.Title = "File check sum";
}

<h2>File check sum</h2>

<form id="checkSumForm" action="@Url.Action("CalculateSum","Home")" method="post" enctype="multipart/form-data">

    <label for="file">Filename:</label>
    <input type="file" name="file" id="file" />

    <select class="form-control" name="type" id="name">
        <option value="0">MD5</option>
        <option value="1">SHA1</option>
    </select>


    <input id="submitButton" type="submit" class="btn btn-primary" value="Calculate" />
</form>

