@model Zpi2WebApiWithLib.Models.ResponseModel
@{
    ViewBag.Title = "File encryption / decryption";
}

<h2>File encryption / decryption result</h2>

@if (Model != null)
{
    <span>@Model.Data</span>
}