@{
    ViewBag.Title = "ZPI 2";
}

<h2>Welcome</h2>

<div class="row">
    @Html.ActionLink("File check sum", "CheckSum", new { }, new { @class = "btn btn-primary" })
    @Html.ActionLink("File encryption / decryption", "FileCrypt", new { }, new { @class = "btn btn-primary" })
</div>